@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  --negro: #000000;
  --principal: #212121;
  --footer: #212429;
  --parrafos: #424242;
  --enlaces: #616161;
  --peso: 400;
  --pesoParrafo: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--principal);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.hero {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent),
    url(../images/patron-1.png);
  height: 350px;
}

/* .header {
  position: sticky;
  top: 0;
} */

header {
  font-size: 14px;
  width: 188px;
  color: var(--enlaces);
  font-weight: var(--peso);
  position: absolute;
  top: 64px;
  left: -232px;
  z-index: 1;
  cursor: pointer;
  line-height: 24px;
}

header a {
  color: var(--enlaces);
  text-decoration: none;
}

header li {
  margin-bottom: 16px;
}

header a:hover {
  color: var(--principal);
}

nav details summary {
  font-weight: bold;
}

.header-content {
  position: relative;
}

.main {
  position: relative;
}

.wrapper {
  width: 902px;
  margin: auto;
}

.main-content {
  background: white;
  /* padding: 20px; */
}

h1 {
  font-size: 60px;
  font-weight: var(--peso);
  margin-top: 64px;
  margin-bottom: 16px;
}

/* h1 + p {
  margin-bottom: 64px;
} */

h2 {
  font-size: 32px;
  font-weight: var(--peso);
  margin: 40px 0 64px;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: relative;
}

.section-content + hr {
  display: none;
}

.section-content img {
  margin-top: 40px;
}

.section-content {
  counter-reset: titleList;
  margin-top: 64px;
  position: relative;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
  content: '';
  width: 84px;
  height: 4px;
  background: var(--parrafos);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

p {
  font-weight: var(--peso);
}

hr {
  margin: 64px 0;
}

.contenido {
  font-size: 14px;
}

pre {
  background: #fec62e;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}

blockquote {
  margin: 32px 0;
  padding-left: 16px;
  font-size: 24px;
  border-left: 4px solid var(--principal);
  line-height: 24px;
}

blockquote span {
  color: var(--enlaces);
}

blockquote span::before {
  content: '-';
}

.img {
  width: 862px;
}

footer {
  background: var(--negro);
}
